body {
  background-color: wihte;
}

h1 {
  color: maroon;
  margin-left: 20px;
  font-family: consolas;
  font-weight: 900;
}

h2 {
  color: rgb(163, 18, 18);
  margin-left: 30px;
  font-family: consolas;
  font-weight: 700;
}

h3 {
  color: green;
  margin-left: 10px;
  font-family: consolas;
  text-decoration: underline;
}

p {
  color: black;
  margin-left: 20px;
  font-family: consolas;
}

.abc {
  color: rgb(163, 18, 18);
  font-weight: 700;
  margin-left: 10px;
  padding-right: 5%;
  font-family: consolas;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #333;
  display: block;
}

.picturetext{
  width: 80%;
  display: inline-block;
}
.picture{
  height: 300px;
  display: inline-block;
}
.resim{
  border-radius: 5px;
  height: 300px;
  display: inline-block;
}
.oyuncular{
  color: rgb(0, 0, 0);
  text-decoration:none;
}

.oyuncular:hover{
    color: red;

}
.filmarasi{
 height: 2px;
 background-color: black;
}
